<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="outer" class="com.ermao.chapter1_3.Outer">
        <property name="outer" value="outer"/>
    </bean>

    <bean id="inner" class="com.ermao.chapter1_3.Outer$Inner">
        <property name="inner" value="inner"/>
    </bean>



</beans>